.card-form-note {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 4px 17px -6px rgba(0,0,0,0.1);
}

.card-form-note input, textarea {
  width: 100%;
  box-sizing: border-box;
  border-style: none;
  font-family: cursive;
}

.card-form-note input:focus, textarea:focus {
  border-style: none;
  outline: none;
}

.card-form-note input {
  font-size: 20px;
  resize: none;
}

.card-form-note textarea {
  margin-top: 10px;
  font-size: 16px;
  resize: none;
}

.card-form-note .field-error {
  font-size: 16px;
  color: red;
}

.card-form-note .card-form-note__actions {
  margin-top: 20px;
}

.card-form-note .card-form-note__actions button + button {
  margin-left: 10px;
}
