dialog {
  position: relative;
  padding: 0;
  border-style: none;
  border-radius: 10px;
}

dialog .dialog-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
}

dialog .dialog-close-icon:hover {
  cursor: pointer;
  color: rgb(46, 46, 46);
}